{% extends "layout.html" %}

{% block content %}

<h1>Edit Room</h1>
<dl>
    <dt>Name</dt>
    <dd>{{ single_room["room_name"] }}</dd>
    <dt>Floor Title</dt>
    <dd>{{ single_room["room_floor"] }}</dd>
    <dt>Length</dt>
    <dd>{{ single_room["length"] }}</dd>
    <dt>Width</dt>
    <dd>{{ single_room["width"] }}</dd>
</dl>
    <div class="room">
    {% for i in range(0, single_room["length"]) %}
    <p>
        {% for j in range(0, single_room["width"]) %}
        <div class="room_tile">.</div>
        {% endfor %}
    </p>
    {% endfor %}
    </div>
{% endblock %}