{% extends "layout.html" %}

{% block content %}

<dl>
    <dt>Name</dt>
    <dd>{{ single_room["room_name"] }}</dd>
    <dt>Floor Title</dt>
    <dd>{{ single_room["room_floor"] }}</dd>
    <dt>Length</dt>
    <dd>{{ single_room["length"] }}</dd>
    <dt>Width</dt>
    <dd>{{ single_room["width"] }}</dd>
</dl>
    <div class="room">
    <table>
    {% for i in range(0, single_room["length"]) %}
    <tr>
        {% for j in range(0, single_room["width"]) %}
        <td class="floor_table"><img src="{{url_for('static', filename='images/floor.jpg') }}" /></td>
        {% endfor %}
    </tr>
    {% endfor %}
    </table>
    </div>
{% endblock %}