{% extends "layout.html" %}

{% block content %}

<dl>
    <dt>Name</dt>
    <dd>{{ single_room["room_name"] }}</dd>
    <dt>Floor Title</dt>
    <dd>{{ single_room["room_floor"] }}</dd>
    <dt>Length</dt>
    <dd>{{ single_room["length"] }}</dd>
    <dt>Width</dt>
    <dd>{{ single_room["width"] }}</dd>
</dl>
<div>
{% for i in range(0, single_room["length"]) %}
    <div class="row"
    {% for j in range(0, single_room["width"]) %}
    <img class="floor_table" src="{{url_for('static', filename='images/floor.jpg') }}" />
    {% endfor %}
    </div>
{% endfor %}
</div>
{% endblock %}