body {
    color: darkblue;
    background-color: lightgray;
}

h1 {
    margin-left: 50px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 10px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: darkgoldenrod;
}

.active {
    background-color: gold;
}

table, td, th {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    width: 80%;
}

th {
    background-color: darkblue;
    color: white;
}

td {
    color: darkblue;
    height: 30px;
    vertical-align: bottom;
    padding-left: 8px;
}

.edit_button {
    background-color: darkgray;
}

.room_tile {
    height: 40px;
    width: 40px;
    display: inline-block;
    background-color: brown;
    padding: 0px;
    margin: 0px;
}

.room {
    border-collapse: collapse;
}

dl {
    border: 3px solid darkblue;
    padding: 0.5em;
    width: 40%;
}

dt {
    float: left;
    clear: left;
    width: 100px;
    text-align: right;
    font-weight: bold;
}

dt::after {
    content: ":\00a0";
}

dd {
    margin: 0 0 0 11px;
    padding: 0 0 0.5em 0;
}