body {
    color: darkblue;
    background-color: lightgray;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkslategray;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 10px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: darkgoldenrod;
}

.active {
    background-color: gold;
}

table, td, th {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    width: 80%;
}

th {
    background-color: darkblue;
    color: white;
}

td {
    color: darkblue;
    height: 30px;
    vertical-align: bottom;
    padding-left: 8px;
}

.edit_button {
    background-color: darkgray;
}

.room_tile {
    height: 40px;
    width: 40px;
    display: inline-block;
    background-color: brown;
    padding: 0px;
    margin: 0px;
}

.room {
    padding: 5px;
}